Source: nautilus-document-converter
Section: utils
Priority: extra
Maintainer: Lorenzo Carbonell Cerezo <lorenzo.carbonell.cerezo@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://www.atareao.es

Package: nautilus-document-converter
Architecture: all
Depends:
    python3,
    python3-gi,
    python3-plumbum,
    python3-nautilus,
    gir1.2-gtk-3.0,
    gir1.2-nautilus-3.0,
    nanecalib,
    unoconv
Description: An extension for Nautilus to convert document files.
 Nautilus Document Converter is an extension for Nautilus, to help you
 to convert LibreOffice/OpenOffice and other document files.
